Workflows/Contact Agent.json
{
  "name": "Contact Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Command }}\n",
        "options": {
          "systemMessage": "=You are a Contact Agent that must invoke exactly one of these tools—`nothing else:\n\nget-contact\n• Fetch a single contact by its contactId.\n\nget-many-contacts\n• Retrieve multiple contacts; accept any filtering arguments provided.\n\ncreate-contact\n• Create a new contact; supply a fields object with whatever properties. Only call the tool again if it return error, do not call the tool again and again\n\nupdate-contact\n• Update an existing contact; supply contactId plus a fields object with the properties to change. For the contactId first retrieve the contact from get contact tool and pass the contactId here to the update tool\n\n\n\nEvery request is fully specified; simply choose the correct tool and emit the invocation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -880,
        128
      ],
      "id": "43b0d3f0-a29b-4e41-93a3-545ee132303e",
      "name": "Contact Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        32
      ],
      "id": "791e2150-084d-4b08-b762-b7773e22c7d6",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        224
      ],
      "id": "93b1fc1b-2cce-483e-89c5-329c29c077b4",
      "name": "Try Again"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Command"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1392,
        128
      ],
      "id": "71fbacb8-3b7f-4f1d-af3d-0734f5a37a42",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact_ID', ``, 'string') }}",
        "fields": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fields', ``, 'string') }}",
        "rawData": "=True"
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        -912,
        352
      ],
      "id": "415a7cbc-0921-4052-a2d6-8d3f38dfaadb",
      "name": "Get a contact in Google Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "3M0rNaSgkBthdtGj",
          "name": "Google Contacts account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "=100",
        "fields": "=*",
        "useQuery": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Query', ``, 'boolean') }}",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "rawData": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('RAW_Data', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        -784,
        352
      ],
      "id": "05faf6e1-f9fb-4938-9f3d-ae062f0091af",
      "name": "Get many contacts in Google Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "3M0rNaSgkBthdtGj",
          "name": "Google Contacts account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "Default"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1040,
        352
      ],
      "id": "a3b2a68a-0f5e-4e49-9325-4bc47818dd56",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1168,
        352
      ],
      "id": "c09ca4c6-cad9-42dc-b8b2-cbb22158a150",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kMXcCgFjX5gF9LnS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact_ID', ``, 'string') }}",
        "fields": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fields', ``, 'string') }}",
        "updateFields": {
          "emailsUi": {
            "emailsValues": [
              {
                "type": "home",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('emailsValues0_Value', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        -656,
        352
      ],
      "id": "54d7b07b-37ad-4b91-afea-d0cdfc5813aa",
      "name": "Add email to a google contact by sending its ContactID",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "3M0rNaSgkBthdtGj",
          "name": "Google Contacts account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact_ID', ``, 'string') }}",
        "fields": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fields', ``, 'string') }}",
        "updateFields": {
          "phoneUi": {
            "phoneValues": [
              {
                "type": "mobile",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phoneValues0_Value', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        -528,
        352
      ],
      "id": "410c7697-600f-4515-89c9-08d0b1fa4dd0",
      "name": "Add Phone number to a google contact by sending its ContactID1",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "3M0rNaSgkBthdtGj",
          "name": "Google Contacts account"
        }
      }
    },
    {
      "parameters": {
        "familyName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Family_Name', ``, 'string') }}",
        "givenName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Given_Name', ``, 'string') }}",
        "additionalFields": {
          "emailsUi": {
            "emailsValues": [
              {
                "type": "home",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('emailsValues0_Value', ``, 'string') }}"
              }
            ]
          },
          "phoneUi": {
            "phoneValues": [
              {
                "type": "mobile",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phoneValues0_Value', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        -400,
        352
      ],
      "id": "70a00bf8-c734-4d14-8919-608dfabe3c72",
      "name": "Create a contact in Google Contacts with name, email and phone",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "3M0rNaSgkBthdtGj",
          "name": "Google Contacts account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Contact Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Contact Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a contact in Google Contacts": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many contacts in Google Contacts": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add email to a google contact by sending its ContactID": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Phone number to a google contact by sending its ContactID1": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a contact in Google Contacts with name, email and phone": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "376b94f4-b6bc-47cf-9287-66e33a05c762",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d96a1d220fe725f7242e55a2ce9729bf4c3973a43647e1417b7b694e8921e1b"
  },
  "id": "W7W1hfZzH4jIjl4L",
  "tags": []
}