Workflows/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        304,
        256
      ],
      "id": "529e6a21-1625-4c83-9a99-8cd79d28a229",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "15YPxE26E4c8kE8v",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Give me a good description about all these videos and give me the top ones with their link\n{{ $json.title }}\n{{ $json.link }}\n{{ $json.pubDate }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        400,
        64
      ],
      "id": "aa456908-e7ba-40d3-be56-eb67d09bae71",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/feeds/videos.xml?channel_id={{ $json.chatInput }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -48,
        96
      ],
      "id": "c9c44fba-f362-4681-83ee-2ce365558886",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            },
            {
              "fieldToAggregate": "link"
            },
            {
              "fieldToAggregate": "pubDate"
            },
            {
              "fieldToAggregate": "id"
            },
            {
              "fieldToAggregate": "isoDate"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        208,
        48
      ],
      "id": "ec4439ac-ee69-484b-a8ae-67c5f59ba7b7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        832,
        80
      ],
      "id": "90e1ce4f-e61b-47e3-8020-7c3f60ba762b",
      "name": "Discord",
      "webhookId": "23377518-2d07-44de-908c-a179a090ea61"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -496,
        96
      ],
      "id": "9b511418-c87c-4a1c-88ae-112fb0d24d43",
      "name": "When chat message received",
      "webhookId": "76c5e3b0-54cb-434d-a604-9b5979542218"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -432,
        -80
      ],
      "id": "8887496e-9888-4d16-83f5-d32ec05c203c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/feeds/videos.xml?channel_id=UCnmGIkw-KdI0W5siakKPKog",
        "options": {
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        16,
        -128
      ],
      "id": "5e4decd6-82ae-479f-ae9f-c77e1b6c6f53",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        464,
        240
      ],
      "id": "f004c396-39ae-404b-b39a-afd81d96ef2e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kMXcCgFjX5gF9LnS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        720,
        256
      ],
      "id": "2942c3e4-2fda-4c0b-ba03-a110024d46e1",
      "name": "Send a message in Gmail",
      "webhookId": "363e5795-2a8a-4ef9-a481-b84f9e9a37c0",
      "credentials": {
        "gmailOAuth2": {
          "id": "9UnQOTubNFKXGQ6B",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "591fcc04-0bb3-4404-9a14-a3c846e3161d",
  "meta": {
    "instanceId": "5d96a1d220fe725f7242e55a2ce9729bf4c3973a43647e1417b7b694e8921e1b"
  },
  "id": "Trg2E5u1l3dFzMGj",
  "tags": []
}